/*  home related content css */

/* layout component */
.main {
  width: 100%;
  padding: 4rem 0;
}

.container {
  width: 90%;
  margin: 7rem auto;
}
 /* videos component */
.videos {
  width: 100%;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  row-gap: 20px;
}

@media only screen and (max-width: 600px) {
  .videos {
    width: 90%;
  }
}

/* video component */
.video {
  max-width: 400px;
  height: fit-content;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  padding-bottom: 1rem;
  transition: 0.2s;

}

.video:hover {
  transform: scale(0.99);
}

.video p {
  font-size: 16px;
  font-weight: 500;
  margin: 0.5rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.video img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.video .qmeta {
  display: flex;
  justify-content: space-between;
  padding-right: 6px;
}


.video .qmeta p {
  font-size: 1rem;
  font-weight: 400;
  padding: 7px;
}
.video p:hover{
  border-radius: 1rem; 
  background: rgba(102, 102, 102, 0.116);
}

.video p:nth-child(3){
  font-size: 1.1rem;
 
}
.video p:nth-child(3):active{
  
  background: #2dbf65de;
 
  font-weight: 600;
  border-radius: 0.2rem;
 
}
@media only screen and (max-width: 600px) {
  .video {
    width: 100%;
  }
}
